@font-face {
    font-family: 'BrockOpen';
    src: url('Brockopen-bold.eot');
    src: url('Brockopen-bold.eot?#iefix') format('embedded-opentype'),
         url('Brockopen-bold.woff') format('woff'),
         url('Brockopen-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BrockOpen';
    src: url('Brockopen-bold.eot');
    src: url('Brockopen-bold.eot?#iefix') format('embedded-opentype'),
         url('Brockopen-bold.woff') format('woff'),
         url('Brockopen-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'BrockOpen Narrow';
    src: url('Brockopen-narrow.eot');
    src: url('Brockopen-narrow.eot?#iefix') format('embedded-opentype'),
         url('Brockopen-narrow.woff') format('woff'),
         url('Brockopen-narrow.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BrockOpen Narrow';
    src: url('Brockopen-narrowbold.eot');
    src: url('Brockopen-narrowbold.eot?#iefix') format('embedded-opentype'),
         url('Brockopen-narrowbold.woff') format('woff'),
         url('Brockopen-narrowbold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'AverageMono';
    src: url('averagemono-regular.eot');
    src: url('averagemono-regular.eot?#iefix') format('embedded-opentype'),
         url('averagemono-regular.woff') format('woff'),
         url('averagemono-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AverageMono';
    src: url('averagemono-italic.eot');
    src: url('averagemono-italic.eot?#iefix') format('embedded-opentype'),
         url('averagemono-italic.woff') format('woff'),
         url('averagemono-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'AverageMono';
    src: url('averagemonobolditalic.eot');
    src: url('averagemonobolditalic.eot?#iefix') format('embedded-opentype'),
         url('averagemonobolditalic.woff') format('woff'),
         url('averagemonobolditalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'AverageMono';
    src: url('averagemonobold.eot');
    src: url('averagemonobold.eot?#iefix') format('embedded-opentype'),
         url('averagemonobold.woff') format('woff'),
         url('averagemonobold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}